name: Ejemplo de condicional

on:
  push:
    branches:
      - master
      - develop

env:
  BUILD_ENV: "prod"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "ejecutando test"
  
  build:
    needs: tests
    if: success() && github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    steps:
      - run: echo "construyendo el job build porque estoy en rama develop y job tests se ejecuto correctamente"

  deploy:
    needs: build
    if: github.ref == 'refs/heads/master' && env.BUILD_ENV == 'prod'
    runs-on: ubuntu-latest
    steps:
      - run: echo "Desplegando en prod, desde la rama master"