name: Ejemplo de condicional

on:
  push:
    branches:
      - master
      - develop

env:
  BUILD_ENV_VALUE: ${{ vars.BUILD_ENV }}

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - run: echo "ejecutando test"
  
  build:
    needs: tests
    if: success() && ${{github.ref_name == 'develop'}}
    runs-on: ubuntu-latest
    steps:
      - run: echo "construyendo el job build porque estoy en rama develop y job tests se ejecuto correctamente"

      -  run: |
          echo "RamaRefName : ${{github.ref_name}}"
          echo "eventSuccessTests : ${{success()}}"

  deploy:
    needs: build
    if: ${{github.ref_name == 'master'}} && ${{ vars.BUILD_ENV == 'prod' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Desplegando en prod, desde la rama master"

      -  run: |
          echo "repository VAR : $BUILD_ENV_VALUE"
          echo "RamaRef : ${{github.ref}}"
          echo "RamaRefName : ${{github.ref_name}}"
          echo "RamaEvent : ${{github.event_name}}"
